@page "/"

@if (tarefas == null)
{
    <p><em>Cargando....</em></p>
}
else
{
    <div class="d-flex col col-lg-3 mb-4">
        <input placeholder="Tarefa a engadir" @bind="novaTarefa" />
        <button class="btn btn-success"
            @onclick="AddTarefa">
            Engadir tarefa
        </button>
    </div>


    @foreach (var tarefa in tarefas)
    {
        <div class="d-flex col col-lg-3 border-bottom" @key="tarefa">
            <div class="p-2 flex-fill">
                <input type="checkbox" checked="@tarefa.IsCompleta" @onchange="@(()=>CheckboxChecked(tarefa))" />
                <span class="@((tarefa.IsCompleta? "tarefa-completada" : ""))">
                    @tarefa.TarefaNome
                </span>
            </div>
            <div class="p-1">
                <button class="btn btn-outline-danger btn-sm" title="Borrar tarefa" @onclick="@(()=>DeleteTarefa(tarefa))">
                    <span class="oi oi-trash"></span>
                </button>
            </div>
        </div>
    }
}
